.field{
  width: 1300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 63px solid green;
  padding: 100px;
  background-color: blueviolet;
  text-decoration: dashed;
  text-size-adjust: 50;
}

.header{
  padding: 10px;
}

